.navbar {
  padding: 0.1rem 0;
  z-index: 99;
}

div#navbarNavAltMarkup {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /*  @media (max-width: 992px) {
    min-height: 100vh;
  } */
}

.navbar-nav {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 73%;
  /* @media (min-width: 768px) {
    width: 100%;
    justify-content: space-around;
  } */
}

@media (max-width: 992px) {
  .navbar-nav {
    width: 100%;
    padding: 0 40px;
    -webkit-box-align: initial;
        -ms-flex-align: initial;
            align-items: initial;
  }
}

@media (min-width: 992px) and (max-width: 1150px) {
  .navbar-nav {
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

nav.navbar.navbar-expand-lg.navbar-dark.bg-dark {
  position: fixed;
  width: 100%;
  background: rgba(0, 0, 0, 0.8) !important;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
          backdrop-filter: saturate(180%) blur(20px);
}

@media (max-width: 992px) {
  nav.navbar.navbar-expand-lg.navbar-dark.bg-dark {
    background: #000 !important;
  }
}

.d-flex.d-xl-none.d-lg-none {
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.d-flex.d-xl-none.d-lg-none a {
  font-size: 20px;
}

a.nav-item.nav-link {
  font-size: 14px;
  color: #d6d6d6;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

@media (max-width: 992px) {
  #a-expanded {
    border-bottom: 0.1px solid #424245;
    color: #cccccc;
    font-size: 17px !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10px 0;
    font-weight: lighter;
  }
}

a.nav-item.nav-link:hover {
  color: #ffffff;
}

button.navbar-toggler {
  border: none;
  outline: 0;
}

.fa-apple {
  color: #d6d6d6;
  font-size: 20px;
}

.fa-apple:hover {
  color: #ffffff;
}

@media (max-width: 992px) {
  .fa-apple {
    font-size: 24px;
  }
}

#searchMenu {
  width: 100%;
  padding: 0 12px 0 12px;
  height: 55px;
  border-bottom: 0.1px solid #424245;
}

#searchMenu #searchSubMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1d1d1f;
  padding: 0 10px 0 10px;
  border-radius: 6px;
  height: 35px;
}

#searchMenu #searchSubMenu i {
  color: #525256;
  font-size: 15px;
}

#searchMenu #searchSubMenu input[type="text"] {
  width: 96%;
  outline: 0;
  border: none;
  background: transparent;
  padding: 10px;
  color: #fff;
  font-size: 17px;
}

img#searchMenuImg {
  width: 13px;
}

.hamburger {
  cursor: pointer;
  position: absolute;
  width: 48px;
  height: 48px;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  top: 0;
}

.hamburger__top-bun,
.hamburger__bottom-bun {
  content: "";
  display: block;
  position: absolute;
  left: 15px;
  width: 18px;
  height: 1px;
  background: #fff;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.hamburger:hover [class*="-bun"] {
  background: #999;
}

.hamburger__top-bun {
  top: 23px;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.hamburger__bottom-bun {
  bottom: 23px;
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

.open {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: 0;
}

.open .hamburger__top-bun {
  -webkit-transform: rotate(45deg) translateY(0px);
          transform: rotate(45deg) translateY(0px);
}

.open .hamburger__bottom-bun {
  -webkit-transform: rotate(-45deg) translateY(0px);
          transform: rotate(-45deg) translateY(0px);
}
/*# sourceMappingURL=navigation.component.css.map */